@import "variables";

//
// Mixins.
//

@mixin button-reset {
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  color: $text__color;
  outline: none;
  text-align: left;
}

//
// Layout mixins.
//

@function breakpoint-next(
  $name,
  $breakpoints: $layout__breakpoints,
  $breakpoint__names: map-keys($breakpoints)) {
  $breakpoint__index: index($breakpoint__names, $name);

  @if $breakpoint__index < length($breakpoint__names) {
    @return nth($breakpoint__names, $breakpoint__index + 1);
  }

  @return null;
}

@function breakpoint-min($name, $breakpoints: $layout__breakpoints) {
  $breakpoint__min: map-get($breakpoints, $name);

  @if $breakpoint__min != 0 {
    @return $breakpoint__min;
  }

  @return null;
}

@function breakpoint-max($name, $breakpoints: $layout__breakpoints) {
  $breakpoint__next: breakpoint-next($name, $breakpoints);

  @if $breakpoint__next {
    @return breakpoint-min($breakpoint__next, $breakpoints) - 1px;
  }

  @return null;
}

@mixin media-breakpoint-up($name, $breakpoints: $layout__breakpoints) {
  $breakpoint__min: breakpoint-min($name, $breakpoints);

  @if $breakpoint__min {
    @media (min-width: $breakpoint__min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $layout__breakpoints) {
  $breakpoint__max: breakpoint-max($name, $breakpoints);

  @if $breakpoint__max {
    @media (max-width: $breakpoint__max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-only($name, $breakpoints: $layout__breakpoints) {
  @include media-breakpoint-up($name, $breakpoints) {
    @include media-breakpoint-down($name, $breakpoints) {
      @content;
    }
  }
}

@mixin media-breakpoint-between(
  $lower,
  $upper,
  $breakpoints: $layout__breakpoints) {
  @include media-breakpoint-up($lower, $breakpoints) {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}

@mixin container {
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $container-max-width in $layout__widths {
    @include media-breakpoint-up($breakpoint) {
      width: $container-max-width;
    }
  }
}
